In [1]:
# loop
# for loop
# while loop

In [2]:
# for loop

In [3]:
# range(5) -> 0,1,2,3,4               for(i =0; i<5; i++;)
# range(1,5) -> 1,2,3,4               for(i = 1; i<5; i++;)
# range(1,10,2) -> 1,3,5,7,9          for(i = 1; i<10; i = i+2)

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
for i in range(1,5):
    print(i,end=" ")

1 2 3 4

In [9]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [10]:
for i in range(0,21,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [13]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x*i)

Enter x = 2
2
4
6
8
10
12
14
16
18
20

In [14]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x,"*",i,"=",x*i)

Enter x = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [16]:
for i in range(5):
    x = int(input("Enter x = "))
    
print("You entered ",x)

Enter x = 234
Enter x = 45
Enter x = 234
Enter x = 56
Enter x = 34
You entered  34

In [17]:
s = 0
for i in range(5):
    x = int(input("Enter x = "))
    s = s + x
    print("Your balance is =  ",s)

Enter x = 1000
Your balance is =   1000
Enter x = 1200
Your balance is =   2200
Enter x = 4500
Your balance is =   6700
Enter x = 2000
Your balance is =   8700
Enter x = 4000
Your balance is =   12700

In [18]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    print("Your balance is =  ",s)

Enter n = 2
Enter x = 324
Your balance is =   324
Enter x = 54
Your balance is =   378

In [19]:
s = 1
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s * x
    print("Your out is =  ",s)

Enter n = 3
Enter x = 123
Your out is =   0
Enter x = 345
Your out is =   0
Enter x = 456
Your out is =   0

In [20]:
a = ""
b = "Ball"
c = a+b
c

'Ball'

In [25]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s + x + "\n"
    
print(s)

Enter n = 3
Enter x = Ram
Enter x = Sita
Enter x = Hari
Ram
Sita
Hari

In [27]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Entre phone = ")
    s = s + name + "-" + phone + "\n"
    
print(s)

Enter n = 2
Enter name = Ram
Entre phone = 9808778765
Enter name = Shyam
Entre phone = 9808556543
Ram-9808778765
Shyam-9808556543