In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\aayush\anaconda3\lib\site-packages (2.2.9)

In [2]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="")
db = database.cursor()
db.execute("CREATE DATABASE pythons111")

In [1]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "python_class_4pm")
db = database.cursor()

In [2]:
# db.execute("CREATE TABLE subject(id INT, name VARCHAR(255))")

In [3]:
db.execute("SELECT * FROM student")
result =db.fetchall()
result

[(1, 'Ram', 89.0, 67.0, 89.0, 90.0, 80.0, 400.0, 80.0, 'A'),
 (2, 'Shyam', 90.0, 89.0, 78.0, 97.0, 85.0, 70.0, 87.0, 'A')]

In [4]:
db.execute("SELECT sn,name,total,grade FROM student")
result =db.fetchall()
result

[(1, 'Ram', 400.0, 'A'), (2, 'Shyam', 70.0, 'A')]

In [5]:
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()
result

[(1, 'Ram', 89.0, 67.0, 89.0, 90.0, 80.0, 400.0, 80.0, 'A'),
 (2, 'Shyam', 90.0, 89.0, 78.0, 97.0, 85.0, 70.0, 87.0, 'A')]